<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiong.dao.BillMapper" >

    <resultMap id="billResultMap" type="com.xiong.pojo.Bill">
        <id property="billId" column="bill_id" />
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="preAcount" column="preAcount"/>
        <result property="afAcount" column="afAcount"/>
        <result property="transAcount" column="transAcount"/>
    </resultMap>

    <sql id="Base_Column_List" >
        bill_id, user_id, type, preAcount, afAcount, transAcount
    </sql>



</mapper>